<!DOCTYPE html>
<html>
<head>
  <title>Cloudc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-image: url('https://s3-eu-west-1.amazonaws.com/ianbucketonly/ccbg.png');">
<div >
<div class="wrapper">

 
     


<%= yield %>

</div>  
</div>
</body>
</html>
